<footer class="footer">
  <p>Copyright (c) 2002–2023 The OpenNMS Group, Inc.</p>
  <p>Licensed under the terms of the AGPL-3.0.</p>
  <p><a href="https://docs.opennms.com/start-page/1.0.0/index.html" target="_blank">Legal Notice</a></p>
</footer>
