:root {
  --color-text: #222;
  --color-navbar-bg: #0a0a0a;
  --color-navbar-bg-focus: #000;
  --color-navbar-text: #fff;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font: 400 16px/24px "Roboto", sans-serif;
  color: #212121;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1em;
  }
}

body {
  color: var(--color-text);
  line-height: 1.6;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #1a73e8;
}

code,
kbd,
pre {
  font-family: "Roboto Mono", monospace;
}

b,
dt,
strong,
th {
  font-weight: 500;
}
